@model AdminViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="bg-info">
    <h2>This page is just for admins to create user roles and permissions. </h2>
    <h3>This page was coded in order to show how roles and permissions are being created by code. </h3>
</div>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Role Id
        </th>
        <th>
            Role Name
        </th>
    </tr>
    @if (Model.Roles.Count() == 0)
    {
        <tr>
            <td colspan="2" class="text-center">No Roles</td>
        </tr>
    }
    else
    {
        foreach (var role in Model.Roles)
        {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
        </tr>
        }
    }
</table>
@if (Model.Roles.Count() == 0)
{
    <a asp-action="CreateRoles" class="btn btn-primary">
        Create Roles
    </a>
}
