
@{
    ViewData["Title"] = "Index";
}

<div class="bg-info">
    <h2>Both Free and Premium users are able to access to this page. Anonymous users who did not log in, ARE NOT ABLE TO access.</h2>
</div>
<h2>AApps/Pubs/Pats</h2>


