@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

<ul class="nav navbar-nav navbar-right">
    <li>
        <a asp-controller="Profile" asp-action="Index" title="Profile">Hello @UserManager.GetUserName(User) !</a>
    </li>
    <li>
        <a asp-controller="Login" asp-action="Logout" title="Logout from application">Logout</a>
    </li>
</ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Register" asp-action="Index">Register</a></li>
        <li><a asp-controller="Login" asp-action="Index">Login</a></li>
        <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
    </ul>
}